[2016-11-25 05:37] tolerious opened #2 "Can you add autocomplete function?"
<img width="578" alt="2016-11-25 1 38 16" src="https://cloud.githubusercontent.com/assets/2922120/20615388/77ef0d36-b314-11e6-9e56-23d3c6f9e9ab.png">

such as this, get the prompt data from backend.

[2016-11-25 05:42] matiastucci commented on #2
Hi! I still have to finish some stuff and be sure that the componen is stable. Once I finish with that I would like to implement this. Thanks for the suggestion.

[2016-11-25 05:48] tolerious commented on #2
THX, I am using your component in my project.

[2016-11-25 06:14] tolerious opened #3 "Meet errors."
[This is my code](http://codepen.io/tolerious/pen/VmWBdq?editors=1000#0).

But I got this error, do you ever see this?
<img width="973" alt="2016-11-25 2 03 30" src="https://cloud.githubusercontent.com/assets/2922120/20615966/6a22567c-b319-11e6-812b-af8a495b0545.png">

[2016-11-25 06:18] matiastucci commented on #3
what version of Vue are you using?

[2016-11-25 06:24] matiastucci commented on #3
are you using `vue-loader`?

[2016-11-25 06:31] tolerious commented on #3
I use Vue2.1.0 , sure I use vue-loader. This is my config files.

[webpack.config.js](http://paste.ubuntu.com/23531016/)
[package.json](http://paste.ubuntu.com/23531018/)

[2016-11-25 06:52] matiastucci commented on #3
weird. Can you run `npm install babel-plugin-transform-runtime babel-preset-es2015 babel-preset-stage-2 --save-dev`, please?

[2016-11-25 06:55] tolerious commented on #3
Sure, let me have a try.

[2016-11-25 06:56] tolerious commented on #3
@matiastucci it worked.

[2016-11-25 06:57] matiastucci commented on #3
cool. You didn't have `babel-preset-stage-2` installed :)

[2016-11-25 06:57] #3 closed

[2016-11-25 07:17] tolerious opened #4 "I think we can remove the height attribute in vue-input-tag-wrapper class."
If there are too many tags in our dev element, just like this,
<img width="1004" alt="2016-11-25 3 14 21" src="https://cloud.githubusercontent.com/assets/2922120/20617134/05e44888-b322-11e6-9346-e08e3789a628.png">
<img width="223" alt="2016-11-25 3 14 13" src="https://cloud.githubusercontent.com/assets/2922120/20617160/38207416-b322-11e6-829f-df46213db080.png">

We can't display all of the tags, i

[2016-11-25 09:04] matiastucci commented on #4
yup, good idea. I just [pushed it](https://github.com/matiastucci/vue-input-tag/commit/a31bafb2d122bacd2598b068059539780407802b).

[2016-11-25 09:04] #4 closed

[2016-11-29 13:16] osenvosem opened #6 "A couple of questions"
You didn't mark your [styles as `scoped`](https://github.com/matiastucci/vue-input-tag/blob/master/src/InputTag.vue#L78) does it mean that they are global?
[You change the `tags` property directly](https://github.com/matiastucci/vue-input-tag/blob/master/src/InputTag.vue#L36) while in documentation is said "you should not attempt to mutate a prop inside a child component." and use custom events in

[2016-11-29 16:29] tolerious commented on #6
1. I think `scoped` property is optional.
2. `You change the tags property directly`,  I think the author of `Vue.js` want you to mutate the `prop` data in child component through `Vuex`,  if the `prop` is an `Object`, after you change the value of the data, then its parent data also will change, if the `prop` is a `string`, after you change the value of the data, then its parent data won't change

[2016-11-29 16:34] osenvosem commented on #6
@tolerious
2. I understand that, but in the given case the author of the module change the object (array) received from the parent, directly in the child module.

[2016-11-29 16:36] tolerious commented on #6
@osenvosem  sure, in my project if I don't use `Vuex`, I will use the `$emit(eventName)` and `$on(eventName)` to deliver the data.

[2016-11-29 16:39] osenvosem commented on #6
@tolerious and this seems to be the right way, according the documentation. That is why I ask the author. 🙂

[2016-11-29 17:17] matiastucci commented on #6
@osenvosem:

1. They are not global because all the styles are encapsulated under `.vue-input-tag-wrapper`. I'm not using `scoped` because it's a pain in the ass if you want to override the component styles.

2. In the docs it says: `This means you should not attempt to mutate a prop inside a child component. If you do, Vue will warn you in the console.` but I'm not seeing any warns.
But I think y

[2016-11-29 17:19] osenvosem commented on #6
@matiastucci thank you for the answer.

[2016-11-29 17:19] #6 closed

[2016-12-16 00:05] irelandpaul opened #7 "Tags not disappearing"
I just installed this and its slick! Nice work!

I have one issue, when I delete tags (by clicking X or by pressing backspace), nothing appears to happen. The tags are still there. However, it does delete them from the array.

Two screens below:

They add just fine to the array:
![image](https://cloud.githubusercontent.com/assets/641691/21246767/9d59a286-c2df-11e6-9b26-97e3c0722cd7.png)

They also

[2016-12-16 00:56] tolerious commented on #7
Hi, can you put your code to [jsfiddle](https://jsfiddle.net/), because I don't have this issue.

[2016-12-16 04:56] matiastucci commented on #7
Which version of `Vue` and `vue-input-tag` are you using? And as @tolerious mentioned, please provide a [JSFiddle](https://jsfiddle.net).

BTW, I just added an [ISSUE_TEMPLATE](https://github.com/matiastucci/vue-input-tag/blob/master/ISSUE_TEMPLATE.md) file.

[2016-12-18 08:32] matiastucci commented on #7
@irelandpaul I'll close it for now. Reopen it with the JSFiddle if you want.

[2016-12-18 08:32] #7 closed

[2016-12-19 17:20] irelandpaul commented on #7
I figured it out. The array was being reset directly instead of using Vue.set, so it dropped out of being able to be tracked reactively. That caused the field to not update. Now everything is working great. Thank you!

[2016-12-29 05:47] cferrios opened #8 "on-change doesn't return the updated tags when the last tag is removed via backspace"
[code]
I noticed that the callback function is fired before the tags are updated. Thanks!

[2017-01-07 15:56] matiastucci commented on #8
Thanks for reporting it 👍

[2017-01-07 15:56] #8 closed

[2017-01-10 13:29] shershen08 opened #10 "Add option to validate strings that are added"
For example if I change input type like so ```<input v-if="!readOnly" v-bind:placeholder="getPlaceholder()" type="number" ...``` it will accept only numbers and validate it with browser built in functionality.

In HTML5 there are options to match the patterns in the input (http://www.w3schools.com/tags/att_input_pattern.asp).

Do you think this could be a good enhancement? I could provide a PR if

[2017-01-10 14:37] matiastucci commented on #10
Yeah, this would be nice. Maybe we can add 2 optional props: `type` and `pattern`.
If you can, create a PR (I'm very busy this week). Otherwise next week I can do it.

[2017-01-10 15:55] shershen08 commented on #10
OK, will do that tonight

[2017-01-10 21:45] shershen08 commented on #10
Hmm, that may be not that straightforward. Adding `v-bind:type="validateType" ` with code like this:

[code]
Results in vue.js core error - **template syntax error <input :type="validateType" v-model="newTag">: v-model does not support dynamic input types. Use v-if branches instead.**.

Having multiple <input v-if="type='text'" .. <input v-if="type='number'" .. <input v-if="type='tel'" .. etc does

[2017-01-11 00:17] matiastucci commented on #10
Hmm, I didn't know this 😕
Yeah, a lots of inputs with `v-if` doesn't seem nice. I'm not sure if there is other way tho...

[2017-01-11 08:30] shershen08 commented on #10
I see 3 possible ways to tackle this
- custom directive
- validator hook inside of the adding item logic
- subcomponent with custom render function
I'll update later today

[2017-01-11 14:20] shershen08 commented on #10
here's a sample implementation with validator hook - https://github.com/shershen08/vue-input-tag/commit/f2089f7735416e8f0c3dc876596c1d9e7faf6010

let me know what you think?

[2017-01-11 23:23] matiastucci commented on #10
I tested locally and works good 👍
Create a PR to `develop` branch and then we can merge it to `master`

[2017-01-14 01:57] matiastucci commented on #10
#12

[2017-01-14 01:57] #10 closed

[2017-01-24 23:27] MaxwellGover opened #13 "Error when trying to import"
Getting an error when trying to import into component. I ran --save.

`import InputTag from 'vue-input-tag'`

![screen shot 2017-01-24 at 6 25 10 pm](https://cloud.githubusercontent.com/assets/11525891/22271450/9d2cf6b2-e262-11e6-92cc-6692342345a1.png)

[2017-01-25 00:22] matiastucci commented on #13
I'm not sure that's happening because of my component. If you remove the `import InputTag from 'vue-input-tag'` that error goes away?

[2017-01-25 01:00] MaxwellGover commented on #13
Yeah

On Tue, Jan 24, 2017, 7:22 PM Mati Tucci <notifications@github.com> wrote:

[2017-02-09 09:30] l0rda commented on #13
I try to `import InputTag from 'vue-input-tag'` in my component and get this error:

[code]

[2017-02-12 20:34] greggilbert commented on #13
@l0rda: Same issue; I just ran `npm install --save-dev babel-preset-stage-2` and it compiled. Try that?

[2017-03-01 12:59] foxmask commented on #13
same behavior with

    Module build failed: ReferenceError: Unknown plugin "transform-runtime" specified in "...../node_modules/vue-input-tag/.babelrc"

need to do

[code]

[2017-03-01 13:05] foxmask opened #14 "placeholder not handled"
Version of `Vue` I'm using?: 2.2

Version of `vue-input-tag` I'm using?: 0.0.11

when we're using placeholder, whatever we set to it, the [code](https://github.com/matiastucci/vue-input-tag/blob/master/src/InputTag.vue#L73) always set it to blank

[2017-03-01 21:05] matiastucci commented on #13
hi everyone, I don't have much time these days. Maybe tomorrow I can take a look and see what's going on. If anyone wants to do a PR, if more than welcome :)

[2017-03-02 22:09] matiastucci commented on #14
Thanks for reporting it. #15 closes this.

[2017-03-02 22:09] #14 closed

[2017-03-02 22:17] matiastucci commented on #13
you are importing the component in a project that wasn't generated with the `vue-cli`?

[2017-03-03 15:44] foxmask commented on #14
the error is now fixed, but I have 2 notices:
one from "npm"
one from me :)

from npm :
[code]

from me :
when I fill the placeholder, the content is truncated by the width of "new-tag"
for exemple I put in data
[code]
become 'here we set '

[2017-03-18 13:06] HectorMalot commented on #2
Can I suggest to leave this issue open to keep track of the work for autocomplete?

[2017-03-23 05:52] unitedworx commented on #2
further to autocomplete it would be nice if validators can talk to a backend. e.g imagine tags being products codes and a validator being able to talk to the backend using an axios/ajax call and return trey or false if the product exists or not.

nice work on this component.

[2017-03-31 08:00] birbird opened #16 "How to use this component in browser"
Hi,
Sorry, I am new to vue.
My project is quite simple, just some html pages, without nodejs.
How can I use this component in browser, just in <script> tag.

Any help will be highly appreciated.

[2017-05-06 17:07] b3ntly commented on #13
I have a similar issue importing this into a project that doesn't use vue-loader.  Is it intended to be usable from outside of vue-loader projects? Currently it doesn't seem possible.

[2017-05-11 01:24] dlett commented on #13
Also having the transform runtime error in a Laravel project that has vue installed.

[2017-05-23 07:35] abdullah-abunada opened #17 "Unknown plugin "transform-runtime""
Version of `Vue` I'm using?: 2

Version of `vue-input-tag` I'm using?: 0.0.11

Module build failed: ReferenceError: Unknown plugin "transform-runtime" specified in "../node_modules/vue-input-tag/.babelrc" at 0, attempted to resolve relative to "../node_modules/vue-input-tag"

[2017-05-26 14:44] joecampo commented on #17
Hi there,

Make sure you have this plugin installed:

```npm install babel-plugin-transform-runtime```

[2017-06-18 21:05] alejogutierrez commented on #13
It would be awesome to use the library on whatever the environment is set.
The problem in Laravel is the babel dependencies that are not included (babel-plugin-transform-runtime, babel-preset-es2015, babel-preset-stage-2).
The simplest solution is to move those to deps instead of dev-deps in package.json.
The manual solution install those on the Laravel project or whatever the environment is.
And

[2017-06-20 21:33] matiastucci commented on #16
Hi :) Check the docs: https://github.com/matiastucci/vue-input-tag/blob/master/docs/App.vue

[2017-06-20 21:33] #16 closed

[2017-06-20 21:35] #17 closed

[2017-06-26 12:30] pdey commented on #2
Hi. Thanks for your work on this component.
I also wanted an autocomplete functionality but i would like to compose a custom component with this one to achieve the same. However, i need a callback on the event of input change, so that i can use the partial input text to generate a list of autocomplete options. Can i send a pull-request for this change? Should be very simple.

[2017-06-26 12:57] matiastucci commented on #2
sure :)

[2017-07-03 16:00] richlove1 commented on #2
Autocomplete / callback on-change functionality would be super cool 👍

[2017-07-04 15:45] GergelyLakatos commented on #13
I have a similar problem, after I ran this `npm install vue-input-tag --save` and pasted the  `import InputTag from 'vue-input-tag'` into `bootstrap.js` file (in my laravel 5.4 project) I got this error:

Could it be the same error as yours?

[2017-07-04 19:55] alejogutierrez commented on #13
Yes as I wrote you have to install those deps on your laravel project:

npm install babel-plugin-transform-runtime --save-dev
npm install babel-preset-es2015 --save-dev
npm install babel-preset-stage-2 --save-dev

Tell me if it works.

[2017-07-05 07:04] GergelyLakatos commented on #13
Thx! It works.

[2017-07-06 04:39] gn-spawn opened #19 "Can't long text in placeholder"
Version of `Vue` I'm using?: 2.8.1

Version of `vue-input-tag` I'm using?: recent version

<img width="542" alt="2017-07-06 13 37 55" src="https://user-images.githubusercontent.com/9656062/27895817-761e5098-6250-11e7-8ebe-96c479bb7500.png">

[2017-07-13 08:36] jackengine opened #20 "Make sure to declare reactive data properties in the data option."
Version of `Vue` I'm using?: 2.3.4

Version of `vue-input-tag` I'm using?: 0.0.11

Small [JSFiddle](https://jsfiddle.net) showing the issue: _____

property or method "tagsArray" is not defined on the instance but referenced during render. Make sure to declare reactive data properties in the data option.

I just added `<input-tag :on-change="callbackMethod" :tags="tagsArray"></input-tag>` line. Ho

[2017-07-18 01:53] #13 closed

[2017-07-18 01:57] matiastucci commented on #20
You can check how it's being used in the example: https://github.com/matiastucci/vue-input-tag/blob/master/docs/App.vue

[2017-07-18 01:57] #20 closed

[2017-07-31 23:00] MrJoeXu opened #29 "Unable to prevent enter key submit form"
Version of `Vue` I'm using?: __2.3.3___

Version of `vue-input-tag` I'm using?: __0.0.15___

When I press enter key in the input field inside input-tag component, it not only create a new tag, but also trigger the click event `click()` on the button. Is there anyway that I can prevent the default form submission?

I already tried ` v-on:submit.prevent ` on the form, but no luck.

Here's the code:

[2017-08-03 06:10] EvanZ opened #30 "Add tag when clicking tab (configurable key support)"
Just FYI, the demo isn't working.

[2017-08-03 14:45] matiastucci commented on #30
the demo page (https://tucci.me/vue-input-tag)? or what demo? Thanks for letting me know

[2017-08-03 15:20] EvanZ commented on #30
Yes, the demo page. When I type in a new tag and hit the tab button, the focus just pops out of the field.

[2017-08-03 15:28] matiastucci commented on #30
Ah, you need to hit `enter` for that

[2017-08-03 19:39] EvanZ commented on #30
Oh! Is that configurable? I think most users expect tab to create a new tag.

[2017-08-03 19:42] ianaya89 commented on #30
I think we can work in something tu support it. @matiastucci ?

[2017-08-03 19:50] matiastucci commented on #30
I just published a new version (0.0.16) with tab support.

As @ianaya89 says, we can work on making it configurable. Maybe pass an array of keys?

[2017-08-04 04:41] xon52 commented on #7
@irelandpaul I see that's the problem, so how did you get it to work?

[2017-08-04 04:54] xon52 opened #31 "Remove tag button not reactive"
First of all, great work on this.
I have been struggling to get this to react to the remove call. It does remove items, and will update as soon as I try and enter a new item (or refresh); but immediately after pressing remove the list displayed includes the removed items.
My array is a computed value, which may be the issue; but as it's from a Vuex getter, I don't want to be storing it locally.

M

[2017-08-04 06:13] xon52 commented on #31
Re-compiled and it worked. Sorry.

[2017-08-04 17:38] EvanZ commented on #30
Wow, thanks guys. Really appreciate your effort.

[2017-08-04 18:06] EvanZ commented on #31
I can't get this component to work at all. Not sure what I'm doing wrong.

[2017-08-04 18:16] #30 closed

[2017-08-04 18:35] EvanZ commented on #2
Basically just need a @keyup functionality for this right? With that as a minimum, we could implement autocomplete in our client relatively straightforward.

[2017-08-11 09:53] comeondown opened #32 "Auto Adding on ","(188) key."
Try write tags on Cyrillic. I find out that when i write letter 'б' component automatically triggers to add new tag. This letter stay on same button with ',' on keyboard.

`v-on:keydown.enter.188.tab.prevent.stop="addNew(newTag)"`

[2017-08-30 06:07] OneX commented on #31
You can use https://vuejs.org/v2/api/#vm-forceUpdate to force re-render, but not sure is it best practice.

Not sure is it good to use prop value of tags, I think vue suggests using 'data' for reactive values.
But this is not cause of your problem.

[2017-08-30 07:15] OneX commented on #31
I tested it and this is actually cause of your problem

[2017-08-30 14:56] ianaya89 commented on #31
I @OneX thanks for your feedback. You are right about the wrong usage of props (mutating them). We are working in a new approach using events regarding mutations and make it compliance with Vue.

[2017-08-30 15:01] OneX commented on #31
@ianaya89 I created [fork](https://github.com/OneX/vue-input-tag/commit/0e8fe355692b1cb2bd96be8c74a690fd75523674) with solution already.

[2017-08-30 15:05] ianaya89 commented on #31
Nice, great work. I think is pretty similar to what we did. We are going to review it and merge as soon as possible.

Thanks for your contribution 🍻👌

[2017-09-04 13:52] vrajroham opened #34 "Proper styles for input text"
Using latest version of component. Input component `(.new-tag)` is not styled properly. I'm importing this component in **Laravel 5.5** within another controller. Following is the output of component.

![screenshot from 2017-09-04 19 15 42](https://user-images.githubusercontent.com/12662173/30029135-920ca758-91a5-11e7-84d1-2bc6410b12b9.png)
-----

I tried overriding css of `new-tag` but no luck.

[2017-09-14 23:28] michaelmano commented on #2
I might make a fork of this to work on this since I require it for a project but don't wish to reinvent the wheel.

Also since its just used for tags I don't think an http call is required since most of the time you are just checking if tags exist. maybe just pass it an array like the pre filled ones then checking if the value exists in array if so suggest it, to start with at least.

[2017-09-15 14:08] unitedworx commented on #2
@michaelmano  think of tags being products codes and products being tens of thousands, does not make sense to give it an array of thousands of valid product codes but make much sense to make an Ajax call to validate if the code exists! if the validation is implemented in some sort of function callback then its up to you to simply check an array or make an Ajax call depending on your needs!

[2017-09-15 14:19] michaelmano commented on #2
@unitedworx then maybe have either option. An auto complete array for smaller things and an auto complete URL that will post with a denounce function to get an array

[2017-09-17 11:04] mdaliyan commented on #32
This 188 thing on `v-on:keydown.enter.188.tab.prevent.stop="addNew(newTag)"` made the package unusable on Persian/Farsi keyboards. The key presents "و" character in this language.

[2017-09-21 14:51] #29 closed

[2017-12-04 13:25] hkmsadek opened #39 "Add limit to tags please"
Adding a limit is a really good idea. I am having trouble of adding limit to it. Any idea how can I do this?

[2017-12-14 18:28] ronaldofs89 opened #40 "Add ref attr in input text"
Adding the ref attribute in the text input, would allow us to use it as a target for other functionalities such as typeahead.

[2017-12-15 06:32] pykler commented on #31
Any idea when this will be resolved?

[2018-01-03 13:38] debiprasad opened #41 "[Vue warn]: Unknown custom element: <input-tag>"
Version of `Vue` I'm using: 2.5.10

Version of `vue-input-tag` I'm using: 0.0.16

Usage:

[code]

[code]

I am getting the following error:

[code]

Is there something where I am doing wrong?

[2018-01-03 13:41] ianaya89 commented on #41
I think that you are missing the component declaration in the parent component. If you want to use it locally you also need to add this to your `food-tracker` component:

[code]

[2018-01-03 13:43] ianaya89 commented on #39
@hkmsadek just to be clear, you want to configure a max or min selectable tags?

[2018-01-03 13:45] ianaya89 commented on #34
@vrajroham I can't reproduce this issue. Is it possible that the component's styles are being affected by your project CSS?

[2018-01-03 13:47] ianaya89 commented on #32
@mdaliyan I am not very familiar with this kind of keyboards, any recommendation or suggestion to fix that?

[2018-01-03 15:29] debiprasad commented on #41
Yes, I had missed that.

[2018-01-03 15:29] #41 closed

[2018-01-24 08:28] bondythegreat opened #43 "add name attribute in the input"
i cannot find how to add name attribute in the input tag?

[2018-01-24 15:00] olsgreen opened #44 "'Tab' key issue & Customisation of the key codes that trigger tag addition."
Due to the implementation of the trigger that validates and adds tags, you cannot currently move on from this form control using the usual 'tab' key.

This has become an issue for us, so we have implemented the ability to provide an array of custom key codes that will trigger attempted validation & addition of a new tag. We have also made an exception for the tab key so it does not block focusing

[2018-01-25 22:07] ajmas opened #46 "Project Status?"
What is the status of the project?

I am seeing unaccepted PRs from September and no code changes since 6 months.

[2018-01-28 21:58] matiastucci commented on #34
I'm closing this until having an answer

[2018-01-28 21:58] #34 closed

[2018-01-29 00:31] #19 closed

[2018-01-29 00:38] matiastucci commented on #19
#33 should fix it. Thanks for reporting it!

[2018-01-29 00:39] matiastucci commented on #31
#33 should fix it. Thanks for reporting it!

[2018-01-29 00:39] #31 closed

[2018-01-29 00:39] matiastucci commented on #39
#33 should fix it. Thanks for reporting it!

[2018-01-29 00:39] #39 closed

[2018-01-29 00:39] matiastucci commented on #40
#33 should fix it. Thanks for reporting it!

[2018-01-29 00:39] #40 closed

[2018-01-29 00:40] matiastucci commented on #43
#33 should fix it (I added a ref to the input). Thanks for reporting it!

[2018-01-29 00:40] #43 closed

[2018-01-29 00:42] matiastucci commented on #46
I just updated it. I didn't have much time to work on this but from now on I will work more on this

[2018-01-29 00:42] #46 closed

[2018-01-29 03:46] zinefer opened #48 "How to override styles or tag template"
Version of `Vue` I'm using?:  2.5.13

Version of `vue-input-tag` I'm using?: 1.0.0

Hi there! This is probably a bit of an obvious question but I'm new to vue and I was wondering how I could go about overriding the tag styles or the overall template? I am using bootstrap - if that matters.

[2018-01-29 13:50] matiastucci commented on #48
No worries :) Just like "normal" CSS.

[code]

[2018-01-29 13:50] #48 closed

[2018-02-08 22:57] matiastucci commented on #32
#45 fixes this

[2018-02-08 22:57] #32 closed

[2018-02-08 22:57] #44 closed

[2018-02-09 09:20] mdaliyan commented on #32
thanks, that looks easy to use

``
<input-tag :tags.sync="tagsArray" add-tag-on-keys="[13,9]"></input-tag>
``

[2018-02-09 10:04] mdaliyan commented on #32
but wasn't that easier to use `v-model` instead of `tags` property?
[code]

[2018-02-20 09:39] flawiddsouza opened #53 "Tab key no longer works because of #45 even though it's defined as a default"
From https://github.com/matiastucci/vue-input-tag/blob/d818062077ba9696ee811ba49120c360429aa589/src/InputTag.vue:
Tab key is in the default array for addTagOnKeys
[code]
But it's being rendered useless by this check:
[code]
Which means even manually attaching an array with the tab key code to addTagOnKeys prop isn't going to make a difference. I recommend removing tab from the default array and re

[2018-02-20 22:44] matiastucci commented on #53
Yup, makes sense. This should be fixed in #54. Thanks 👍

[2018-02-20 22:44] #53 closed

[2018-02-21 09:51] iamdubx commented on #2
Autocomplete is must have feature, please consider to add it.

[2018-02-21 14:12] LorrainInfinity commented on #2
Mmmmh this component is really useful.  Too bad it's not 100% finished, it lacks a few methods you don't seem to be willing to implement I guess I'll have to do it on my own ^^'

[2018-02-21 14:15] ianaya89 commented on #2
@LorrainInfinity Sometimes is really hard to make enough time to maintain an open source project but PR's are welcome 😉

[2018-02-21 14:20] LorrainInfinity commented on #2
@ianaya89 Yes that's true ^^. It doesn't lack much and I think it could be useful enough to a lot of people but I'm trying to use it for a very complex architecture so I'll have to improve it a bit :p

[2018-02-21 14:35] matiastucci commented on #2
@LorrainInfinity besides this feature, what else is missing in your opinion?

[2018-02-21 14:51] LorrainInfinity commented on #2
It'd be great to be able to detect which element was deleted.  I know you did add a update:tags method (btw you should add it on the home page of the git project so people know about it :p).  But I need to know exactly what element is removed from the array of elements.

On another hand it'd be great to be able to pass an array of objects as tags, and if so, add a "track-by" prop so it tracks base

[2018-02-21 16:16] EvanZ commented on #2
@LorrainInfinity You might check out Vuetify which pretty much has all these features in their multi-select. https://vuetifyjs.com/en/components/selects#api

[2018-02-22 07:45] LorrainInfinity commented on #2
Mmh yes maybe it could work but what I really need here is a tag creator not a multiselect (even though I saw that there is a "tag" option to allow tag creation, but in the end, it'll still be a select list isn't it?).

Anyway thank you for the component I'll look into that :)

[2018-02-22 18:19] EvanZ commented on #2
You can use it as a multi-select but also add new tags.

[2018-03-12 18:14] shightower opened #60 "Not able to override styling on tags"
Version of `Vue` I'm using?: 2.5.2

Version of `vue-input-tag` I'm using?: 1.0.3

codesandbox showing the issue: https://codesandbox.io/s/ly4rr9379

I'm unable to override the default stylings for the actual tags. the following snippet works but (as expected) it only effects the surround div.

.vue-input-tag-wrapper {
  background-color: red !important;
}

the moment I try following, all the defin

[2018-03-15 16:43] tomaytotomato commented on #2
Yea this feature will be very useful.

I am happy to contribute my solution after I've tried hacking it

[2018-03-16 05:52] mdaliyan commented on #60
Overriding styles are possible, this is the code I used before. mind the variables. you need to change them.
[code]

[2018-03-17 23:34] shightower commented on #60
With the help of someone else I figured out the problem. I didn't realize this about Vue, but the issue was the fact I was trying to override the styles in a scoped styling block. Once I moved this to a none scope styling block everything worked fine.

[2018-03-17 23:34] #60 closed

[2018-03-18 04:03] matiastucci commented on #60
Sorry I didn’t answer. I’m on vacations without my laptop. But I’m glad you could figure it out thanks to @mdaliyan.

[2018-03-18 10:26] mdaliyan commented on #60
I got the credit, lol

and @shightower, I prefer not to use styles in `.vue` files if I have a separated css file unless special cases. It makes the development faster for me. Best practices change over time. See how you feel reviewing your code and how easy you work.

[2018-04-03 14:01] EmilMoe opened #62 "Move tags"
Version of `Vue` I'm using?: 2.5.16

Version of `vue-input-tag` I'm using?: 1.0.3

How can I move tags? I would like to be able to add tags between other tags or drag and drop them.

[2018-04-06 11:01] demonodojo commented on #2
I have added this PR to allow implement autocomplete out of the component:
https://github.com/matiastucci/vue-input-tag/pull/63

[2018-04-26 20:09] kaskar2008 opened #64 "Comma key issue (188)"
Version of `Vue` I'm using?: ^2.5.x

Version of `vue-input-tag` I'm using?: 1.0.3

It's not working correctly in a different language, where there is another character on the key `comma`, so I can't use this key for a tag, because of the keycode it's returning - 188. Maybe you can update your component to use a char checking along with the keycodes? I mean, it's not right to use the same array of

[2018-04-30 16:54] Jaszkowic opened #65 "Per-tag color when entering color as hex-values"
Hey! I am currently using this Vue component in a project where the user can enter colors in the hex-format. To validate the input I am using the `validate` option: `:validate="new RegExp(/^#[0-9a-f]{6}/i)"`. Everything works great. Now I have a feature proposal: It would be really great if the background color of the tag would change the color according to the entered color tag. This could be rea

[2018-05-15 13:25] folivei2 opened #66 "No X button"
Nice component, but when I add in my project the "x" button does not appear and I am not able to delete tags..Is there any hack for that? Thanks

[2018-06-05 05:39] jericopulvera opened #67 "How to limit input length?"
How to limit input length?

[2018-06-05 05:44] roosh-t3 opened #68 "addOnPaste"
Version of `Vue` I'm using?:  2.5.7

Version of `vue-input-tag` I'm using?: 1.0.3

https://github.com/olahol/react-tagsinput supports addOnPaste

[2018-06-05 13:11] seuaCoder opened #69 "Allow duplicate ?"
Version of `Vue` I'm using?: 2

Version of `vue-input-tag` I'm using?: current

Is there any way to allow duplicate tags ?

[2018-06-09 22:39] matiastucci commented on #69
https://github.com/matiastucci/vue-input-tag/pull/70

[2018-06-09 22:46] matiastucci commented on #66
just to check, do you have the `read-only` prop in `false`?

[2018-06-09 22:54] matiastucci commented on #65
Hi! thanks for the idea. To be honest this seems a very specific feature mostly for your case only. I don't think is important. But if you want you are welcome to create a PR.

[2018-06-09 22:54] #65 closed

[2018-06-09 23:06] matiastucci commented on #67
Currently you can't. You could use `validate` to prevent adding the tag if it's > n chars. But still in the UI the user can write a tag as long as he/she wants. If you would like to have this limit you are welcome to create a PR.

[2018-06-09 23:06] #67 closed

[2018-06-14 09:04] bouchezb opened #73 "Read-only on a single tag ?"
Hello,

I'm looking for a way to set a single tag as read only.
Currently, the read only property is on the input field.

By now, the only way i found to do this, is to currently watch my tags and reinject the value i don't want to be deleted.
I'm looking for a smarter solution also with CSS styling support.

Regards

[2018-07-23 15:27] MartinKravec opened #75 "Change event"
Version of `Vue` I'm using?: 2.5.16
Version of `vue-input-tag` I'm using?: 1.0.3

Hello,

is it possible to set onchange event? How?
This event will not fire on change.

`<input-tag :tags.sync="statistics.values"
                             @change="refreshStatistics"></input-tag>`

Thanks

[2018-07-29 22:59] matiastucci commented on #66
I'm closing this issue because there isn't an answer. If you keep having this problem feel free to reopen.

[2018-07-29 22:59] #66 closed

[2018-07-31 07:16] imjakechapman opened #76 "OnPaste Comma delimited list of tags (Common Tagsinput feature)"
Version of `Vue` I'm using?: V2.5.16
Version of `vue-input-tag` I'm using?: V1.0.4

Title is self explanatory. How can we handle the pasting of a comma delimited list of tags

example list `tag-one, tag-two, tag-three, tag-four`

Paste and it just becomes one large tag instead of multiple individual tags for each of the list.

[2018-07-31 11:05] DivyarajB commented on #75
It will be great if we can emit some events which system can do for post process operations.

[2018-08-27 15:14] benbowler opened #77 "Tag key capture is over aggressive"
The plugin captures the tab key to mark the end of a new email, however if you haven't typed anything and press tab I'd expect the normal behaviour - tabbing to the next field - to be allowed.

Would you submit a PR?

[2018-08-29 01:40] webarthur opened #78 "Filter tags on add: toLowerCase and remove accents"
It's possible to implement a filter function param? Something like:

[code]

And my custom function would be:

[code]

[2018-09-03 13:21] Fusseldieb opened #79 "Allowing duplicate tags"
Hi,

is there a option to allow duplicate tags. In my application I need to specity the direction of some things, like "L,R,R,L,R,L,L,R", but with this current release it doesn't seem possible.

I also searched for open or closed issues and one person is "redirecting" to another issue, which is redirected to another issue, and so on. Without actually answering this question. It's a mess.

If there

[2018-09-06 05:26] matiastucci commented on #79
It's merged and published. Thanks for the feedback 👍

[2018-09-06 05:26] #79 closed

[2018-09-06 05:31] matiastucci commented on #78
Now it's not possible. But feel free to open a PR 👍

[2018-09-06 05:31] #78 closed

[2018-09-06 05:32] matiastucci commented on #77
This should be fixed now. If it's still happening feel free to reopen the issue.

[2018-09-06 05:32] #77 closed

[2018-09-06 05:36] matiastucci commented on #75
You can do this: `<input-tag :tags="tagsArray" @update:tags="refreshStatistics"></input-tag>`

[2018-09-06 05:36] #75 closed

[2018-09-06 05:38] matiastucci commented on #69
There is a `allow-duplicates` prop now

[2018-09-06 05:38] #69 closed

[2018-09-06 05:39] matiastucci commented on #62
I'm not planning on implementing this. But feel free to open a PR 👍

[2018-09-06 05:39] #62 closed

[2018-09-06 05:42] matiastucci commented on #73
Hi! I understand but currently is not possible and tbh I'm not planning on implementing this. Feel free to open a PR tho 👍

[2018-09-06 05:42] #73 closed

[2018-09-06 05:43] matiastucci commented on #68
Hi! TBH I'm not planning on implementing this for now. Feel free to open a PR tho 👍

[2018-09-06 05:43] #68 closed

[2018-09-06 05:47] matiastucci commented on #76
We can add a `onAddTag` method like this suggestion https://github.com/matiastucci/vue-input-tag/issues/78

But I'm not planning on implementing this for now. Feel free to open a PR though.

[2018-09-06 05:47] #76 closed

[2018-09-10 05:46] max-kut opened #83 "How do I continue to use the previous version?"
Version of `Vue` I'm using?: 2.5.16

Hi, I used the component from CDN, but after the last update my application broke (I did not use webpack). How do I continue to use the previous version?

[2018-09-11 15:26] #83 closed

[2018-09-13 04:14] matiastucci commented on #83
I just added a `unpkg` key to the `package.json` to expose the UMD module. You can use it like this: https://github.com/matiastucci/vue-input-tag/blob/master/README.md#cdn

[2018-09-14 21:08] TioWidow opened #84 "Array with properties On Datasource"
Hello, sorry for the inconvenience but I wonder if it is possible to use a Array with properties as a datasource and specify a property of the array as the item that will be the Label of the tag.

Something like in this example:

[code]

Version of `Vue` I'm using?: __2.0___

Version of `vue-input-tag` I'm using?: ___last__

Small [JSFiddle](https://jsfiddle.net) showing the issue: _____

[2018-09-26 12:28] ahmatovicm opened #85 "Tab press leaves input focus"
Version of `Vue` I'm using?: 2.5.17

Version of `vue-input-tag` I'm using?: 1.0.6
Small [JSFiddle](https://jsfiddle.net) showing the issue: demo

Enter key works fine, but after hitting tab, I always have to click back to the input.

[2018-10-08 14:14] oakdays opened #86 "Using keys to add tags that are different than tab and enter doesn't clear the tag's content"
Version of `Vue` I'm using?: 2.5.16
Version of `vue-input-tag` I'm using?: 1.0.6

Small [JSFiddle](https://jsfiddle.net) showing the issue: https://jsfiddle.net/eywraw8t/409731/

Using keys to add tags that are different than 9 (`tab`) and 13 (`enter`) doesn't clear the tag's content, carrying it over + the pressed key instead.

Example for reproduction:

1. Access the JSFiddle link above
2. Enter

[2018-10-28 14:18] matiastucci commented on #86
Merged and published a new version (1.0.7). Thanks everyone!

[2018-10-28 14:18] #86 closed

[2018-10-31 11:33] oakdays opened #90 "CDN not working"
`Vue` version: 2.5.17 .
`vue-input-tag` version: 2.0.0

Small [JSFiddle](https://jsfiddle.net) showing the issue: https://jsfiddle.net/eywraw8t/409731/

CDN import doesn't seem to work.

In the console this is seen: `Refused to execute script from 'https://unpkg.com/vue-input-tag@2.0.0/dist/vueInputTag.umd.min.js' because its MIME type ('text/plain') is not executable, and strict MIME type checkin

[2018-10-31 11:53] oakdays commented on #84
@TioWidow If I understood the issue correctly, you could simply use a `v-for` for that to create a tag for each array element. Then, there would be no need for the feature you proposed.

[code]

[2018-10-31 12:37] matiastucci commented on #90
🤦‍♂️ thanks for reporting! It's fixed now in the 2.0.1: https://jsfiddle.net/eywraw8t/409731/

[2018-10-31 12:37] #90 closed

[2018-11-12 06:28] jiangzhen1984 opened #91 "How to refresh v-model maually?"
Version of `Vue` I'm using?: _2.5.16____
Version of `vue-input-tag` I'm using?: _2.0.1__

Hello:
    Maybe it's not a issue, I just want to know how to manually refresh tags?
Scenario Description:

step１ create {
    get value by ajax
}

step 2. computed: {
      Initialize form values, at this time maybe ajax request not finish yet.
      Some time get default value for initialization
}

[2018-11-12 10:21] halrequin opened #92 "how can i controll event?"
Version of `Vue` I'm using?: 2.5.2

Version of `vue-input-tag` I'm using?: 2.0.1

Small [JSFiddle](https://jsfiddle.net) showing the issue: _____

i want to add method for v-on:change or v-on:blur, but it can't run method
here is my code
[code]
could you tell me what can i do?

[2018-11-12 10:50] halrequin commented on #92
also, when i sort data using by key, that data changed without tag.
how can i fix it?

[2018-11-12 13:02] matiastucci commented on #92
- When there is a change, [`@input` should work](https://github.com/matiastucci/vue-input-tag/blob/master/src/components/InputTag.vue#L160).
- For the blur you need to add a ref: https://vuejs.org/v2/api/#ref. Please, [search in the issues](https://github.com/matiastucci/vue-input-tag/pull/49#issuecomment-361970969) before creating a new one.

About the sort, please create another issue with a JSF

[2018-11-12 13:02] #92 closed

[2018-11-12 13:07] matiastucci commented on #91
I'm not sure if I understand. When you use the component you pass your array of tags doing `v-model="tags"`. If you want to change your the tags that the input is showing you just need to update your component's data tags prop. If this not answers your question, can you create a [JSFiddle](https://jsfiddle.net) with an example, please? and I'll reopen the issue. Thanks.

[2018-11-13 05:43] jiangzhen1984 commented on #91
Hello:

 Please let me re-open this question for double confirm:

Code snapshot,  doesn't refresh tags for display.

<input-tag placeholder="添加显示标签" v-model="articleForm.tags"></input-tag>

250         created() {
....
....                    //send ajax request to back-end server
258                 this.$store.dispatch('getArticleDetail', id).then(res => {
259                     const pDetail =

[2018-11-13 12:08] matiastucci commented on #91
I don't think it's a bug related to the library. Again, please create a [JSFiddle](https://jsfiddle.net) with an example so I can reproduce it. Also, if you paste code here, at least try to format it nicely. Remove the line numbers for example. You can use a ``` block in Markdown to show the code in a nice way. Thanks.

[2018-11-13 12:09] #91 closed

[2018-11-26 16:27] davemin opened #93 "How to Attach evento on input box?"
Hi,

how to add a custom events on input box inside your plugins? i need to add onblur and onfocus event

best
D

[2018-11-26 16:45] matiastucci commented on #93
You need to add a ref: https://vuejs.org/v2/api/#ref. Please, [search in the issues](https://github.com/matiastucci/vue-input-tag/pull/49#issuecomment-361970969) next time 👍

[2018-11-26 16:45] #93 closed

[2018-11-27 11:45] manasvi-kuliza commented on #91
Hi, I am having the same issue. If I am using a value defined in data observables, then it shows up in the input-tag. But if I am getting the value through ajax call, it is not reflected in the input-tag. Please check my fiddle [https://jsfiddle.net/6Lmvuenk/](url) and let me know what can be done. Thanks

[2018-12-11 16:04] torresdaniel11 commented on #91
i do think this is a but with the library, if i do something like add a v-if in the tag, and toggling the data, then the changes in the v-model will apply to the element. I think the library is missing `watch` for the prop

[2018-12-17 09:37] MatthiasRMS commented on #43
Hi @matiastucci , I also need to add a name to the input, but I'm not sure how I can do this, and I didn't get how adding the ref should allow me to do so. Would you mind adding a small example on how to add a name to the input to have

`<input name="example[formname]" type="text" class="new-tag">`

[2018-12-25 07:49] serge1peshcoff opened #95 "tags list is not updated if the v-model is updated after vue-input-tag init"
Version of `Vue` I'm using?: 2.5.21 (latest from unpkg.me)
Version of `vue-input-tag` I'm using?: 2.0.1 (latest from unpkg.me)

I couldn't make JSFiddle work, so I'll just post the example to reproduce it here:

HTML:

[code]

JS

[code]

Expected: the `<input-tag>`'s tags list should be updated.
What happens: it doesn't in both cases.

I've fixed that for myself by just rendering the `<input-tag>

[2018-12-25 20:19] invshakil opened #96 "Input Tag is not binding properly with v-model"
Version of `Vue` I'm using?: v2.3

Version of `vue-input-tag` I'm using?:2

Here I am passing the data by v-model to the input tags. but it is not showing. please check the screenshot. how can i solve this.

![image](https://user-images.githubusercontent.com/26332795/50426273-3baf7200-08b4-11e9-83c7-e9bc693f7c5c.png)

[2018-12-30 19:52] matiastucci commented on #96
I think it's related to this: https://github.com/matiastucci/vue-input-tag/pull/94

[2018-12-30 19:53] matiastucci commented on #95
Yup, https://github.com/matiastucci/vue-input-tag/pull/94 should fix it. Thanks for reporting it.

[2018-12-30 19:54] matiastucci commented on #84
Hi, currently it's not possible to do that. I'm not planning in adding that feature. But you are welcome to create a PR. Thanks!

[2018-12-30 19:54] #84 closed

[2019-01-04 11:35] mysuf opened #97 "First change"
Version of `Vue` I'm using?:  2.5.21

Version of `vue-input-tag` I'm using?: 2.0.1

First added/removed tag does not change model immediately. If you use @update:tags="printModel", model is unchanged. When you print model value in setTimeout, it returns already changed value. It seems that input event is emitted after update:tags which is wrong order. If update:tags is dispatched before input even

[2019-01-08 08:13] serge1peshcoff commented on #95
yeah, checked it, works flawlessly for me. Thanks a lot!

[2019-01-11 20:41] AkshatSrivastava2 commented on #95
@matiastucci Didn't work out for me. Any other solution?

[2019-01-23 21:29] serge1peshcoff opened #98 "Values are not trimmed"
Version of `Vue` I'm using?: 2.5.16
Version of `vue-input-tag` I'm using?: 2.0.1

So when I type "first", then a comma, then a space, then a "second", the values I have are `["first", " second"]` instead of `["first", "second"]` (note the space at the beginning of "second").

Can I trim it somehow by specifying an option when creating a component or something like that?

Thanks in advance!

[2019-01-25 11:25] zw8677174 opened #99 "no v-model!!!!!!!"
it is so so so so sad. why not v-model? why!!!!!!!

[2019-01-28 08:11] #99 closed, assigned to nobody

[2019-01-28 08:12] matiastucci commented on #95
I just merged and released this: https://github.com/matiastucci/vue-input-tag/pull/94. Open the issue again if you need.

[2019-01-28 08:12] #95 closed

[2019-01-28 08:14] matiastucci commented on #96
#94 should solve this. It's released in 2.0.2.

[2019-01-28 08:14] #96 closed

[2019-01-28 08:14] matiastucci commented on #97
https://github.com/matiastucci/vue-input-tag/pull/94 should fix this.

[2019-01-28 08:14] #97 closed

[2019-02-03 20:36] matiastucci commented on #98
https://github.com/matiastucci/vue-input-tag/pull/101/files should give you the flexibility to trim it.

[2019-02-03 20:36] #98 closed

[2019-02-03 20:38] #64 closed

[2019-02-05 12:09] ONiAd opened #103 "Ctrl + v add tags separate by comma os"
Version of `Vue` I'm using?: 2.6.2

Version of `vue-input-tag` I'm using?: 2.0.4

How Can I copy/paste tags(example: 50003,50002 or 50003;50002) separates by ", " or ";" and check if all are valid?

[2019-03-29 14:17] scniro opened #106 "Strange dependencies?"
Why [are these](https://github.com/matiastucci/vue-input-tag/blob/master/package.json#L35-L36) `dependencies`?

[code]

These are clear devdeps, can these be moved?

[2019-05-04 09:02] matiastucci commented on #106
https://github.com/matiastucci/vue-input-tag/pull/107 fixes it. Thanks.

[2019-05-04 09:02] #106 closed

[2019-08-09 12:22] chiragob opened #112 "form tabindex not working"
Version of `Vue` I'm using?: 2.6.8

Version of `vue-input-tag` I'm using?: 0.0.16

I have created a simple order entry form. and I am using vue-input-tag component
I set tabindex on form but not working
I added add-tag-on-keys props only 13(enter key) but not working

please help me how to set tabindex in vue-input-tag

thanks
chirag

[2019-10-17 07:20] xiuhy opened #114 "value is empty and readonly"
Version of `Vue` I'm using?: 2.5.17

Version of `vue-input-tag` I'm using?: 2.0.6

Small [JSFiddle](https://jsfiddle.net) showing the issue: https://jsfiddle.net/xiuhy/udnac20x/13/

[2019-10-29 11:32] chiptus commented on #112
focus is working for me, can you add give a code that is showing the bug?

[2019-12-12 08:58] taolangao opened #115 "What is event on change"
[code]

[2020-03-01 15:29] yussan opened #117 "cannot used on server side rendering"
Version of `Vue` I'm using?:"^2.6.11"

Version of `vue-input-tag` I'm using?: "^2.0.6"

I'm implement server rendering on my Vue, but after import and declare vue-input-tag, i have error
[code]
It happen because called on server side, can it solve with conditional only render on client side.

[2020-04-02 04:08] gengengengengen opened #118 "Validate function did not work when input continuous comma"
Version of `Vue` I'm using?: 2.5.17

Version of `vue-input-tag` I'm using?: 2.0.6

Hello, I tried to prevent the duplicate tags when using separator 'comma', but when I input tags with continuous comma, this component will add tags with 'comma' like this:

![image](https://user-images.githubusercontent.com/12140810/78209736-700fd600-74da-11ea-9d07-366bbbed4450.png)

I added a validate function (e.

[2020-06-18 14:01] geekswamp opened #122 "Autocomplete feature"
Version of `Vue` I'm using?: 2.6.11

Version of `vue-input-tag` I'm using?: 2.0.7

Maybe adding the autocomplete feature would be better.

[2021-03-17 04:12] rmeiggss opened #130 "Is this component reactive?"
Version of `Vue` I'm using?: 2.6.12

Version of `vue-input-tag` I'm using?: 2.0.7

I am calling a WS to fill the tag with data, but it is not displaying it. Is the functionality available?

[2021-03-25 04:07] #130 closed, assigned to nobody

[2021-07-19 14:29] IXBalaji opened #138 "How can we add icon or thumbnail in tags"
Version of `Vue` I'm using?: 2.6

Version of `vue-input-tag` I'm using?: 2.0.7

[2021-08-17 13:40] ashargillani opened #140 "Customise HTML of Tags"
Version of `Vue` I'm using: 2.6.11

Version of `vue-input-tag` I'm using: 2.0.7

Hey guys, you have done a great job by creating this plugin, I just wanted to know that can you guide me to customise the tags in someway, i.e. i want to customise the html and add an event when clicked over some tag, also that i want to enable/disable the text-area by using a pre-supplied "Add Tag" - Tag

![image](ht

[2021-08-28 06:19] saadabdurrazaq opened #141 "TypeError: Right-hand side of 'instanceof' is not an object"
I am using this package in Vue3. As soon as I install this package, I got an error `TypeError: Right-hand side of 'instanceof' is not an object`

[2021-11-17 20:30] elyohan14 commented on #141
I have the same!

[2022-06-06 10:47] ZhangXusen commented on #141
+1